

*{
    margin: 0px;
    padding: 0px;
}

#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#topleft{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}


#topmiddle{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 20px;
}

#topright{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.userdp{

    background-color: #536FFE;
    border-radius: 50%;
    color: white;
    width: 16px;
    padding: 12px;
margin-right:20px ;
}

#middle{
    margin-left: 60px;
    margin-right: 15px;
    background-color:#EBEBEB ;
    height: 70vh;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
#progress-80{
    float: left ;
width:20%;
 background-color:#536FFE;
 height:2vh;
 border-radius:10px;
}
#progress-7{
width:20%;
 background-color:#F93536;
 height:2vh;
 border-radius:10px;
}

.smallline{
margin: 5px;
}

#div1{
   padding: 15px;
    display: flex;
    gap:10px;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 30%;

}

#div2{
   

width: 40%;
border-radius: 20px;
display: grid;

}

.div21{
    margin: 10px;
    background-color: white;
border-radius: 8px;
padding: 20px;
}

#div3{
   

width: 40%;
border-radius: 20px;
display: grid;
}

#mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.box{

border-radius: 20px;
 width: 150%;
    background-color: white;
margin-bottom: 20px;
padding: 20px;
}


#userdp1{
background-color: #C1CDFF;
padding-left: 10px;
width: 55px;
border-radius: 20px;
}

#userdp2{
    background-color: #9EFE1E;
    padding-left: 10px;
    width: 45px;
border-radius: 15px;
}

#userdp3{
   background-color:#FEBD57 ; 
   padding-left: 10px;
   width: 90px;
border-radius: 20px;
}

#progress-90{
    background-color:#C1CDFF ;
    width: 90%;
    height:2vh;
 border-radius:10px;
}

#progress-50{
    background-color:#C1CDFF ;
    width: 50%;
    height:2vh;
 border-radius:10px;
}

#progress-60{
    background-color:#C1CDFF ;
    width: 60%;
    height:2vh;
 border-radius:10px;
}


#final{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
   gap: 20px;
}. 


