
#all{

    margin-left: 200px;
    background-color:white;
    width: 70vw;
   
}
#top{
    display: flex;
    justify-content: space-between;
}
#topright{
    margin: 20px;
gap: 20px;

}

#button1{
    background-color: #0976a7;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

#left{
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 10px;
    width: 20vw;
    height: 80vh;
    background-color: #0976a7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#div1{
    display: flex;

}


#google{
    padding: 10px 150px 10px 150px;
    margin-left: 50px;
}

#div1{
    margin-left: 50px;
    gap: 10px;
}
#div2{
    margin-left: 50px;
}

.apple{
    /*margin-left: 47px;*/
    padding: 10px 56px 10px 20px;
}

.mail{
    margin-left: 50px;
    padding: 10px 150px 10px 150px;
    border: 2px solid rgb(141, 145, 148);
}


#right{
    padding-right: 100px;
    align-items: center;
    height: 85vh;
    background-color:white;
}

#box{
   
    display: flex;
}


#sign{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div5{
    display: flex;
    flex-direction: column;
align-items: center;
}


#signn{
    margin-left: 50px;
     padding: 10px 200px 10px 200px;
     background-color: red;
     color: white;
     font-weight: bold;
     border: none;
}

#for{
    margin-left: 350px;
}

.btn{
    background-color: white;
    border: 2px solid rgb(141, 145, 148);
    border-radius: 3px;
    width: 100%;
    padding: 5px 0px;
    margin-top: 20px;
}

#show{
    position: absolute;
    bottom: 10px;
    right: 20px;
}